<!DOCTYPE html>
<html>
  <head>
    <title>The Bike Shed</title>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
  </head>

  <body>
  	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <a href="#">The Bike Shed</a> 
        </div><!-- end navbar-header -->
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
		        <li><a href="#contact">Contact</a></li>
		      </ul>
        </div>
      </div><!-- end container fluid -->
		</nav><!-- end navbar -->
    
    <%= yield %>
    
    <footer>
      <div class="container" id="container-footer">
        <div class="row">
          <div class="col-sm-6">
            <h3>The Bike Shed | Custom Bikes in Berlin</h3>
          </div>
          <div class="col-sm-6" id="social-icons">
            <ul>
              <i class="fa fa-facebook-square"></i>
              <i class="fa fa-twitter"></i>
              <i class="fa fa-instagram"></i>
              <i class="fa fa-reddit"></i>
            </ul>
          </div>
        </div>     
      </div>
		  &copy; 2017 Alan Murad
		</footer>
  </body>
</html>